.navbar{
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 5px;
    width: 100%;
    /* margin-bottom: 30px; */
    /* height: 72px; */
}

.search-input{
    /* width: 65%; */
    width: 97.4%;
    height: 20px;
    padding: 10px 10px 10px 20px;
    border-radius: 25px;
    background-color: rgb(243,243,243);
    border-color: #222222;
    font-size: 14px;
}

.search-form{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.search-form-div{
    width: 65%;
    position: relative;
}

.products-search{
    margin-top: 10px;
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    max-height: 300px;
    overflow: scroll;
    border-radius: 10px;
    z-index: 21;
    /* box-shadow: 0px -2px 2px 4px rgba(0, 0, 255, .2); */
}

.search-results-index-item:hover{
    background-color: #F3F3F3;
}

.products-search::-webkit-scrollbar{
    display: none;
}

.nav-search-submit-button{
    position: absolute;
    right: 0.2%;
    top: 1;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    /* border-radius: 25px; */
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 50px;
    display: flex;
    align-items: center;
    border-style: none;
}

.nav-search-submit-button:hover{
    transition: ease 100ms;
    background-color: #D3D3D3
}


body{
    margin: 10px 0px 0px 0px;
    font-family: 'Itim', cursive;
}

.navbar-h1{
    margin: 0;
    font-size: 40px;
    color: orange;
}

.profile-ul-dropdown{
    border: 1px solid darkgray;
    position: absolute;
    right: 0px;
    top: 70%;
    background-color: #FFFFFF;
    list-style: none;
    padding: 0;
    width: 175px;
    padding: 10px 0px;
    border-radius: 5px;
    z-index: 50;
}

.navbar-items{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0px 15%;
    /* width: 100%; */
    gap: 1%;
    /* width: 100%; */
}

.navbar-categories-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-family: 'Itim', cursive;
}

.navbar-categories-button{
    font-family: 'Itim', cursive;
    padding: 5px 15px;
    background-color: #FFFFFF;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
}


.profile-dropdown-user{
    display: flex;
    flex-direction: column;
}

.nav-auth-buttons{
    cursor: pointer;
    padding: 5px;
    background-color: white;
    border-style: none;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    gap: 10px;
}

.nav-auth-buttons:hover{
    background-color: lightgray;
}


.nav-order-buttons{
    width: 100%;
    cursor: pointer;
    padding: 5px;
    background-color: white;
    border-style: none;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    gap: 10px;
}

.nav-order-buttons:hover{
    background-color: lightgray;
}

.nav-loggout-button{
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    padding: 5px;
    background-color: white;
    border-style: none;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    gap: 10px;
}
.nav-loggout-button:hover{
    background-color: lightgray;
}
.fa-arrow-right-from-bracket{
    transform: rotate(180deg);
}

.cart-container{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 50px;
    justify-content: center;
    border-radius: 25px;
    /* height: 100%; */
    /* position: relative; */
}

.cart-container:hover{
    background-color: lightgray;
}

.profile-dropdown-container{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    gap: 5px;
    padding: 5px 10px;
    border: 1px none;
    border-radius: 25px;
}

.profile-dropdown-container:hover{
    background-color: lightgray;
}

.fa-user{
    border: 1px none gray;
    background-color: #D3D3D3;
    color: rgb(145,145,145);
    padding: 5px;
    border-radius: 15px;
}

.fa-caret-down{
    color: rgb(145,145,145);
}

.navbar-right-side-container{
    display: flex;
    position: absolute;
    right: 0;
    width: 100px;
}

.create-product-button{
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}



.cart-item-amount{
    border: 1px solid gray;
    font-size: 8px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    background-color: orange;
    top: 0;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-dropdown-view-profile{
    display: flex;
    gap: 10px;
    padding: 10px 10px;
}

.profile-dropdown-view-profile:hover{
    background-color: lightgray;
}

@media screen and (max-width: 1444px){
    .navbar-items{
        margin: 0px 5%;
    }
}
