.navbar{
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 5px;
    width: 100%;
    /* margin-bottom: 30px; */
    /* height: 72px; */
}

.search-input{
    width: 65%;
    height: 20px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(243,243,243);
    border-color: #222222;
}
body{
    margin: 10px 0px 0px 0px;
}

.navbar-h1{
    margin: 0;
    font-size: 40px;
    color: orange;
}

.profile-ul-dropdown{
    border: 1px solid darkgray;
    position: absolute;
    right: 0px;
    top: 70%;
    background-color: #FFFFFF;
    list-style: none;
    padding: 0;
    width: 175px;
    padding: 10px 0px;
    border-radius: 5px;
    z-index: 1;
}

.navbar-items{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0px 15%;
    width: 100%;
    gap: 1%;
    /* width: 100%; */
}

.profile-dropdown-user{
    display: flex;
    flex-direction: column;
}

.nav-auth-buttons{
    cursor: pointer;
    padding: 5px;
    background-color: white;
    border-style: none;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    gap: 10px;
}

.nav-auth-buttons:hover{
    background-color: lightgray;
}


.nav-order-buttons{
    width: 100%;
    cursor: pointer;
    padding: 5px;
    background-color: white;
    border-style: none;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    gap: 10px;
}

.nav-order-buttons:hover{
    background-color: lightgray;
}

.nav-loggout-button{
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    padding: 5px;
    background-color: white;
    border-style: none;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    gap: 10px;
}
.nav-loggout-button:hover{
    background-color: lightgray;
}
.fa-arrow-right-from-bracket{
    transform: rotate(180deg);
}

.cart-container{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 50px;
    justify-content: center;
    border-radius: 25px;
    /* height: 100%; */
    /* position: relative; */
}

.cart-container:hover{
    background-color: lightgray;
}

.profile-dropdown-container{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    gap: 5px;
    padding: 5px 10px;
    border: 1px none;
    border-radius: 25px;
}

.profile-dropdown-container:hover{
    background-color: lightgray;
}

.fa-user{
    border: 1px none gray;
    background-color: #D3D3D3;
    color: rgb(145,145,145);
    padding: 5px;
    border-radius: 15px;
}

.fa-caret-down{
    color: rgb(145,145,145);
}

.navbar-right-side-container{
    display: flex;
    position: absolute;
    right: 0;
    width: 100px;
}

.create-product-button{
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item-amount{
    border: 1px solid gray;
    font-size: 8px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    background-color: orange;
    top: 0;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-dropdown-view-profile{
    display: flex;
    gap: 10px;
    padding: 10px 10px;
}

.profile-dropdown-view-profile:hover{
    background-color: lightgray;
}
