.order-page-container{
    margin: 0px 23%;
}

.order-page-background{
    width: 100%;
    height: 100%;
}

.order-item-container{
    width: 100%;
    height: 190px;
    /* border: 1px solid blue; */
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-bottom: 50px;
}

.order-trackings-cancel-section{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
}

.order-details-section{
    width: 78%;
    /* padding: 10px; */
    position: relative;
    border: 1px solid gray;
    border-radius: 5px;
}

.order-page-welcome-container{
    width: 100%;
    height: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
    /* padding: 0px 23% 0px 23%; */
    border-bottom: 1px solid darkslategray;
}


.order-welcome-stuff{
    margin: 0px 23%;
    /* width: 77%; */
    display: flex;
    justify-content: space-between;
}

.order-search-bar{
    padding: 5px;
    /* cursor: not-allowed; */
}
.disabled-search-feature{
    width: 170px;
    font-size: 16px;
    margin-top: 5px;
    color: #FFFFFF;
    background-color: blue;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
}

.disabled-hidden{
    display: none;
}

.order-welcome-stuff-header{
    font-size: 30px;
}

.shipping-stuff-track{
    display: flex;
    flex-direction: column;
}

.order-details-shop-holder{
    border-bottom: 1px solid black;
    /* padding: 10px; */
    width: 100%;
}

.order-details-shop-holder-values{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.order-shipping-status{
    margin: 0;
}

.order-index-previewImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.order-index-previewImg-container{
    width: 105px;
    height: 105px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.order-index-preview-item-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.order-index-preview{
    display: flex;
    gap: 20px;
    padding-left: 5%;
    padding-top: 2%;
}

.order-index-preview-item-details-button{
    background-color: #222222;
    color: #FFFFFF;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.order-index-preview-item-details div{
    display: flex;
    gap: 10px;
    align-items: center;
}


.edit-orders-button{
    height: 30px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 0.5px solid #222222;
    border-radius: 3px;
}
.edit-orders-button2{
    height: 30px;
    cursor: not-allowed;
    background-color: #FFFFFF;
    border: 0.5px solid #222222;
    border-radius: 3px;
}

.view-receipt-container{
    padding: 10px;
    /* width: 100%; */
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

.no-orders-default-page{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

.view-receipt-page-container{
    width: 400px;
    height: 500px;
    position: relative;
}

.order-item-border{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    margin: 10px 0;
}

.order-receipt-page-total{
    border-top: 1px solid #222222;
    position: absolute;
    bottom: 0;
    padding: 10px;
    right: 0;
    font-size: 24px;
    width: 95%;
    display: flex;
    justify-content: flex-end;
}
